@model IEnumerable<PizzaStore.Models.OrderDetail>

@{
	ViewData["Title"] = "Cart";
}

<ul>
	@foreach (OrderDetail orderDetail in Model)
	{	
		//Should send you to an edit page not add but fine for now
		<h6>
			@orderDetail.Product.Name
		</h6>
		<li>
			@Html.ActionLink("Quantity: " + orderDetail.Quantity.ToString(), "EditCart", new { id = orderDetail.Id })
		</li>
		<li>
			$@orderDetail.Product.Price each
		</li>
		<li>
			$@(orderDetail.Product.Price * orderDetail.Quantity) Total
		</li>
		<br />
	}
</ul>
The total cost of the cart is: 
$@ViewData["Total"]
<br />
<p onclick="location.href = '@Url.Action("Index", "Checkout")'">
	<input type="button" value="Checkout" />
</p>