@model IEnumerable<PizzaStore.Models.OrderDetail>

@{
	ViewData["Title"] = "Cart";
}

@if (Model.FirstOrDefault() == null)
{
	<p>Your cart is empty!</p>
	<a asp-action="Index" class="btn btn-outline-secondary">
		Add a pizza
	</a>
}

else
{
	<ul style="list-style: none;">
		@foreach (OrderDetail orderDetail in Model)
		{
			<h6>
				@orderDetail.Product.Name
			</h6>
			<li>
				Quantity: @orderDetail.Quantity
			</li>
			<li>
				$@orderDetail.Product.Price each
			</li>
			<li>
				$@(orderDetail.Product.Price* orderDetail.Quantity) Total
			</li>
			<li>
				<a asp-action="EditCart" asp-route-id="@orderDetail.Id " class="btn btn-outline-secondary btn-sm">
					Edit Item Quantity
				</a>
			</li>	
			<li>
				<a asp-controller="Home" asp-action="Delete" asp-route-id="@orderDetail.Id" class="btn btn-danger btn-close"></a>
			</li>
			<br />
		}
	</ul>
	<p>
		The total cost of the cart is:
		$@ViewData["Total"]
	</p>

	<a asp-controller="Checkout" asp-action="Index" class="btn btn-outline-primary">
		Checkout
	</a>
}