@model IEnumerable<PizzaStore.Models.OrderDetail>

@{
	ViewData["Title"] = "Confirm Order";
}

<h2>
	Order Confirmed!
</h2>
<br />
<text>
	Your order is confirmed for: @ViewBag.Method
	<br />
		@if(ViewBag.Method == "delivery")
	{
		<text>The following contents will be delivered to @ViewBag.Address</text>
	}
	else
	{
		<text>Pickup at 123 Pizza Store Road</text>
	}
</text>
<br />
<br />
<h5>
	Order Contents:
</h5>
@foreach (OrderDetail orderDetail in Model)
{
	<h6>
		@orderDetail.Product.Name
	</h6>
	<li>
		Quantity: @orderDetail.Quantity
	</li>
	<br />

}