@using PizzaStore.Data
@model PizzaStore.Models.Customer

@{
	ViewData["Title"] = "Confirm Order";
}

<h2>
	Order Confirmed!
</h2>
<br />
<text>
	Your order is confirmed for: @ViewBag.Method
	<br />
		@if(ViewBag.Method == "delivery")
	{
		<text>The following contents will be delivered to @Model.Address</text>
	}
	else
	{
		<text>Pickup at 123 Pizza Store Road</text>
	}
</text>
@{
	Order order = Model.Orders.Single(o => o.CustomerId == Model.Id);
	List<OrderDetail> orderDetails = order.OrderDetails
		.Where(o => o.OrderId == order.Id)
		.ToList();
}
<br />
<br />
<h5>
	Order Contents:
</h5>
@foreach (OrderDetail orderDetail in orderDetails)
{
	<h6>
		@orderDetail.Product.Name
	</h6>
	<li>
		Quantity: @orderDetail.Quantity
	</li>
	<br />

}