@model IEnumerable<PizzaStore.Domain.Entities.Product>;

@{
	ViewData["Title"] = "Home Page";
}
<style>
	.col:hover {
		background-color: #d0d0d0;
	}
	.col{
		padding-top:15px;
		padding-bottom: 15px;
		background-color: #f1f1f1;
		margin: 10px;
		width: 31%
	}

	#product_name {
		text-align: center
	}
</style>

<h2>Menu</h2>

<div class="container">
	<div class="row row-cols-4" >
		@foreach (Product product in @Model)
		{
			<div class="col" onclick="location.href = '@Url.Action("Add", "Home", new { id = product.Id })'">
				<h6 id="product_name">@product.Name</h6>

				<img src="~/css/ProductImages/@product.Image"  width="100%"/>

				<p>@product.Descriptions</p>
			</div>
		}
	</div>
</div>